body {
    Font-family: Arial, sans-serif;
    Display: flex;
    Justify-content: center;
    Align-items: center;
    Height: 100vh;
    Margin: 0;
 background-color: white;
}
.bb{
   background-size: cover;
}
.container {
    Text-align: center;
    Padding: 20px;
    Background-color: #fff;
    Border-radius: 8px;
    Box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

Label, input, button, p {
    Margin-top: 10px;
    Display: block;
    Width: 100%;
    Box-sizing: border-box;
}

Button {
    Background-color: #4CAF50;
    Color: white;
    Padding: 10px 15px;
    Border: none;
    Border-radius: 4px;
    Cursor: pointer;
}

Button:hover {
    Background-color: #45a049;
}
.container .message{
    display: flex;
    flex-direction: column;
}